
/* src/styles/App.css */
.App {
    font-family: Arial, sans-serif;
   
  }
  
  h1 {
    text-align: center;

  }
  .completed button {
    display: none; /* Hide the button when its parent li has the completed class */
  }
    
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  